.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-dark{
    background-color: rgb(86, 37, 37);
}
.mt-50{
    margin-top: 50px;
}
.he{
    font-weight: bold;
    /* font-size: 200px; */
}